$header-bg: #c4c9ca;
$sidebar-bg: #e5e5e5;
$content-bg: #f1f1f1;
$teal: #2b6e84;
$yellow: #e2c128;
$primary: #4e5456;

// Font family intialisation
$font-family: 'Lato', helvetica, arial, sans-serif; 
$font-title: 'Lato', helvetica, arial, sans-serif;

body {
    font-family: $font-family;
}

// Title styles
h2,h3,h4,h5 {
    font-family: $font-title;
    text-align: left;
    width: 100%;
    color: $primary;
    margin: 10px 0;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin: 1em 0;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.15em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
    color: $primary;
}

p {
    line-height: 1.5;
    font-size: 1.15em;
    color: $primary;
}

a {
    color: $teal;
}

img {
    max-width: 100%;
}

// Global styles for the page
body {
    background: #fff;
}

.section.header-bg {
    background:$header-bg;
    display: inline-block;
    width: 100%;
}

.section {
    padding: 2% 0;
}

.section:nth-child(2) {
    padding: 0 0 2% 0; 
}

.sidebar,
.sidenav {
    background: $sidebar-bg;
}

.content {
    background: $content-bg;
    min-height: 80vh;
}

// Reusable style classes
.teal-bg {
    background: $teal;
}

.yellow-bg {
    background: $yellow;
}

.white {
    color: #fff;
}

.teal {
    color: $teal;
}

.yellow {
    color: $yellow;
}

.upper {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

// Specific styles
.img-wrap {
    width: 90%;
    background: white;
    float: none;
    display: block;
    margin: 2em auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    img {
        width: 90%;
        background: white;
        float: none;
        display: block;
        margin: 2em auto;
        padding: 5%;
    }
}

#beerCategories {
    padding: 0;
    li {
        list-style: none;
    } 
}

#beerResults {
    padding-left: 0px;
    li {
        list-style: none;
        padding-left: 0;
        width: 100%;
        padding: 10px;
        border-top: 1px solid $header-bg;
    } 
    li.active {
        background: $teal;
        a {
            color: white;
        }
    }
}

.sidebar {
    padding: 0;
    max-height: 80vh;
    overflow: scroll;
    h6 {
        padding: 0 10px;
    }
    .openMobileNav {
        font-weight: bold;
        font-size: 1.25em;
    }
}

.sidenav {
    h5 {
        padding-left: 10px;
    }
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: $content-bg; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: $yellow; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: $yellow; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

// Sidenav for results on mobile devices
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#openMobileNav {
    display: none;
    float: left;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mainBody {
    transition: margin-left .5s;
    padding: 20px;
}

// Loader while running fetch 
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid $sidebar-bg;
    border-radius: 50%;
    border-top: 16px solid $teal;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

// Media queries
@media screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
}
